*{
    margin: 0;
    padding: 0;
    
}

body{
    background: rgb(11, 11, 88);
    color: rgb(189, 189, 30);
   
}

.center{
    display: block;
    margin: 50px auto;
    width: 30%;
    height: 450px;
    text-align: center;
    background: rgb(24, 24, 116);
}

table{
    
    margin: 50px auto;
    font-size: 16pt;
}
input{
    margin: 10px;
    
    padding: 10px 20px;
    color: rgb(211, 211, 25);
    background: rgb(11, 11, 88);
}
textarea{
    color: rgb(197, 197, 53);
    background:rgb(11, 11, 88)
}
#reset{
    color: red;
}
 



   










