*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(18, 7, 41);
    color: rgb(189, 189, 30);
   
}

.center{
    display: block;
    margin: 50px auto;
    width: 30%;
    height: 450px;
    text-align: center;
    background: rgb(27, 27, 78);
}

table{
    
    margin: 50px auto;
    font-size: 16pt;
}
input{
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(211, 211, 25);
    background: rgb(41, 41, 87);
}
textarea{
    color: rgb(197, 197, 53);
    background:rgb(41, 41, 87);
    border-radius:10px;
    
}
#reset{
    color: red;
}
body a{
    color: coral;
    text-decoration: none;
    padding: 50px;
    font-size: 20pt;
}
::placeholder{
padding-left: 10px;
padding-top:10px;
}
fieldset{
    border-radius: 30px;
}
 



   










