body{
    background-image:url('slike/pozadina.gif');
    color:rgb(120, 121, 113);
    padding: 0 20px 0 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    font-family: 'Lato', sans-serif;

    
}
h1{
    font-size: 50px;
    text-align: center;
    color: rgb(201, 198, 40);
    font-family: 'Indie Flower', cursive;
}
/*  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    */



div{
    text-align: center;
   
}
.justify{
    text-align: justify;
    color: rgb(180, 180, 45);
}

.lead{
    font-style: italic;
    font-weight:bold;
    color: rgb(101, 94, 102);
}
a  {
    color: rgb(238, 100, 9);
    margin: 10px;
    
}
h2{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: rgb(180, 180, 45);
}
.font{
    font-family: 'Indie Flower', cursive;
}
nav a{
     
     margin-right: 10px;
     text-decoration:none;
     border:4px solid rgb(204, 204, 30);
     padding: 2px 8px;
     color: rgb(224, 224, 15);
     text-align: center;
     font-family: 'Indie Flower', cursive;
    
}
/* li{
    list-style: none;
    display: inline;
    margin-right: 10px;
    text-align: justify;
    
} */
nav {
    text-align: center;
    position: static;
}

h4{
    display: inline;
    margin-right: 10px;
    color: rgb(202, 90, 38);
}
hr{
    margin-top: 20px;
    
}
footer{
    text-align: center;
    color: rgb(230, 230, 32);
}


