body{
    background-image:url('pozadina.gif');
    color:rgb(120, 121, 113);
    margin: 0px;
    padding:0px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

    
}
h1{
    font-size: 50px;
    text-align: center;
    color: rgb(201, 198, 40);
    font-family: 'Indie Flower', cursive;
}
#slika{
    text-align: center;
}



.justify{
    text-align: justify;
    color: rgb(180, 180, 45);
    margin-left: 30%;
    margin-right: 30%;
    
    
}

.lead{
    font-style: italic;
    font-weight:bold;
    color: rgb(101, 94, 102);
}
    

h2{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: rgb(180, 180, 45);
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(18, 7, 41);
    font-family: 'Indie Flower', cursive;

}

.menu{
    color: rgb(180, 180, 45);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;

}
.nav-links{
    display: flex;
    justify-content:space-around;
    width: 40%;

}

.nav-links a{
    color: rgb(180, 180, 45);
    text-decoration:none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    
}
.nav-links li{
    list-style: none;
    
    
}
.nav-links a:hover{
    color: coral;
}
    

footer{
    text-align: center;
    color: rgb(230, 230, 32);
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  
}



